*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  scroll-behavior: smooth;
}
.app_screen{
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.light_shade{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #00000000;
  transition: all 1s linear;
  pointer-events: none;
  z-index: 5;
  position: fixed;
}

.dark_shade{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #00000090;
  transition: all .4s linear;
  z-index: 5;
  overflow-y: hidden;
  position: fixed;
}


