
.navigation_block{
    display: block;
    height: 60px;
}
.nav{
    display: none;
}
.nav_mobile{
    z-index: 3;
    width: 100%; 
    /* box-shadow: -1px 7px 24px 0px rgba(0, 0, 0, 0.089); */
    border-radius: 0 0 10px 10px;
    background-color: aliceblue;

    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
  
.logo_mobile{
    height: 30px;
}

@media only screen and (min-width: 768px) {
    .navigation_block{
        height: inherit;
    }
    .nav_mobile{
        display: none;
    }

    .logo img{
        max-width:135px;
    }

    .nav{
        display: grid;
        grid-template-columns: 1fr 2fr;
        vertical-align: middle;
        align-items: center;
        padding: 10px 5px;
    }
    .menu_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
    }
    .menu_list div{
        display: flex;
        list-style-type: none;
        vertical-align: middle;
        align-items: center;
    }
    .menu_list li{
        max-width: 71px;
        text-align: center;
        font-size: .9em;
        margin-right: 45px;
    }

    .menu_list div:last-child li{
        margin: 0;
    }
}